*{
	margin: 0;
}


.nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: pink;
	padding: 15px 50px;
}

.nav-container .nav ul li {
	display: inline;
	padding: 6px 10px;
}

.nav-container .nav ul li a {
	text-decoration: none;
	font-size: 20px;
	font-family: sans-serif;
	font-weight:normal;
	letter-spacing: 1px;
    color: rgb(64, 42, 15);
}

.nav-container .nav ul li a:hover{
	color: red;
	transition: color 0.5s ;
}

.logo h1{
	font-family: cursive;
	font-size: 30px;
	font-weight: 600;
}